// Old styles
/*.advantage {
    padding-top: 94px;
    padding-bottom: 94px;
}

.advantage-list {
    display: flex;
    gap: 30px;
}

.advantage-item {
    width: 270px;
}

.advantage-container-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;
    background: #F5F4FA;
    border-radius: 4px;
}

.advantage-title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #212121;
    font-weight: 700;
}

.advantage-text {
    line-height: 1.71;
    letter-spacing: 0.03em;
    height: 75px;
    color: #757575;
    font-size: 14px;
}

.advantage {
    padding-top: 94px;
    padding-bottom: 94px;
}*/

.advantage-container-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;
    background: #F5F4FA;
    border-radius: 4px;
} 

.advantage-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 10px;
}

.advantage-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    /*margin-bottom: 30px;*/ // на моб - нельзя! тут сделать на лишки через :not(:last-child)
}

@media screen and (max-width: 767px) {
    .advantage {
        padding-top: 60px;
        padding-bottom: 60px;
        }
    .advantage-list {
        display: block;
    }
    .advantage-item {
        width: 100%;
    }
    .advantage-item:not(:last-child) {
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 768px) {
    .advantage {
        padding-top: 60px;
        padding-bottom: 60px;
        }
    .advantage-list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    .advantage-item {
        flex-basis: calc((100% - 30px)/2);
    }
}

@media screen and (min-width: 1200px) {
    .advantage {
        padding-top: 94px;
        padding-bottom: 94px;
        }
    .advantage-list {
        display: flex;
        flex-wrap: nowrap;
    }
    .advantage-item {
        width: 270px;
    }
}